:root {
  --height-header: 60px;
  --background-color_header: #fff;
}
.header {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: var(--background-color_header);
  padding-right: calc(var(--width-navbar) + 16px);
}

/* css modal user */
.user_modal_header .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  top: 59px !important;
}
.user_modal_header .css-6hp17o-MuiList-root-MuiMenu-list {
  min-width: 260px;
}

/* css bell Notification */
.bell_noti_header .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  top: 59px !important;
  overflow-y: hidden;
}
.bell_noti_header .css-6hp17o-MuiList-root-MuiMenu-list {
  width: 350px !important;
}

/* chỉnh scroll bar cho bell notification */
.srcoll_bell_noti::-webkit-scrollbar {
  width: 6px;
}
.srcoll_bell_noti::-webkit-scrollbar-thumb {
  background: #8c8c8c;
  border-radius: 4px;
}

@media only screen and (max-width: 1279px) {
  .bell_noti_header .css-6hp17o-MuiList-root-MuiMenu-list {
    width: 290px !important;
  }
}
